.main {
background-image: url(../images/industrial_background.jpg);
min-height: 100vh;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
z-index: -5;
opacity: 90%;
top:0 
}


